@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;400;600;800&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding:0px;
    margin:0px;
}
.landingpage{
    background: url('images/background.png');
    background-color: linear-gradient(180deg, rgba(5, 43, 73, 0.72)0%, rgba(5, 43, 73, 0.90) 100%,),linear-gradient(0deg, #FFF 0%, #FFF 100%),lightgrey 50%;
    background-blend-mode:normal ,hue ,normal;
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;

}
.site-header{
    min-height:100px;
}
header{
    display:block;
    margin:0 auto;
}
.headgroup{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 120px;
    flex-wrap: wrap;
       margin:0 auto; 
       max-width:1170px;
    
}


/* .container{
    margin:0 auto;
}*/
.menu-wrap{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding:10px 10px;
}
nav ul{
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:14px;
    font-family:Outfit;
}
.button-accessories{
    margin-left:10px;
    align-items: center;
}
.button{
    color:#fff;
    background-color: #3cb54a;
    padding:10px 10px;
    border-radius:5px;
    font-size:14px;
    font-family:Outfit;
}
.banner-text{
    /* position:absolute; 
    margin-left:120px;
     */
    padding-left:120px;
    padding-right:120px;
    margin:0 auto;
    align-items: center;
   
   
   
}

   
    


.banner-tophead{
    width:900px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    font-family: Oswald;
    color:#fff;
    line-height:50px;
    padding-top:250px;
    animation:fadeinright 0.3s;
}
.banner-pflex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:40px;
    
    
    
}
.banner-para{
    color:white;
    width:400px;
    font-size:16px;
    font-family:Outfit;
    
}
.banner-buttons{

    vertical-align: center;
}
.banner-request button{
    
    text-decoration: none;
    color:#fff;
    background-color: #3cb54a;
    padding:20px 20px;
    border-radius: 2px;
    font-family: outfit;
    font-size: 14px;
    vertical-align: center;
    margin-right: 10px;
    border:none;
}
.banner-search {
    background:local;
    border:1px solid #3cb54a;
    color:#3cb54a;
    padding:20px 20px;
    text-decoration: none;
}
.homepage-footer{
    background: rgba(5, 43, 73, 0.02);
    padding:40px 120px;
    margin: 0 auto;
    align-items: center;
    
}
.homepage-container{
    
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:40px;

}
.homepage-container h1{
    font-family: Outfit;
    text-align:center;
    color: #687076;
    font-weight:400;
    font-size:18px;
}

.homepage-footer-images{
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    flex-wrap: wrap;
    
}
.homepage-footer-images img{
    height:5vh;
}

.solutions-outercard h1{
    font-family: Oswald;
    font-size: 40px;
    font-weight:400;
    color:#052B49;
}

.solutions-outercard {
    margin:96px 120px;
    
}
.solutions-innercard{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:40px;
    
    
}
.innercard-inner-1{
    width:30%;
    background: #fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:20px;
    
 

}
.solutions-innertext-1{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    
}
.solutions-innertext-1 h1{
    
    font-size:26px;
    font-weight:400;
    font-family:Oswald;
    color:#052B49;
    
}
.solutions-innertext-1 p{
     
    font-size:15px;
    font-weight:300;
    font-family:Outfit;
    letter-spacing:0.03em;
    text-align: center;
    padding-top:10px;
    color:#3F454A;
    
}
.solutions-innertext-1 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;

}
.solutions-innertext-1 button:hover{
    cursor: pointer;
}
.innercard-inner-2{
    width:30%;
    background: #fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:20px;
    
 

}
.solutions-innertext-2{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    
}
.solutions-innertext-2 h1{
    
    font-size:26px;
    font-weight:400;
    font-family:Oswald;
    color:#052B49;
}
.solutions-innertext-2 p{
     
    font-size:15px;
    font-weight:300;
    font-family:Outfit;
    letter-spacing:0.03em;
    text-align: center;
    padding-top:10px;
    color:#3F454A;
    
}
.solutions-innertext-2 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;

}
.solutions-innertext-2 button:hover{
    cursor: pointer;
}
.innercard-inner-3{
    width:30%;
    background: #fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:20px;
    
 

}
.solutions-innertext-3{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

}
.solutions-innertext-3 h1{
    
    font-size:26px;
    font-weight:400;
    font-family:Oswald;
    color:#052B49;
    
}
.solutions-innertext-3 p{
     
    font-size:15px;
    font-weight:300;
    font-family:Outfit;
    letter-spacing:0.03em;
    text-align: center;
    padding-top:10px;
    color:#3F454A;
    
}
.solutions-innertext-3 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;

}
.solutions-innertext-3 button:hover{
    cursor: pointer;
}
.product-outer-card{
    margin:96px 120px;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:40px;
}

.product-outer-card h1{
    font-family: Oswald;
    font-size:40px;
    letter-spacing:0.03em;
    font-weight: 400;
}
.product-outer-container-1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-inner-card-1{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-1 h1{
    color:#062331;
    font-family:Oswald;
    font-size:20px;
    font-weight:400;
}
.product-inner-card-1 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-1 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-1 button:hover{
    cursor:pointer;
}
.product-inner-card-2{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-2 h1{
    color:#062331;
    font-family:Oswald;
    font-size:20px;
    font-weight:400;
}
.product-inner-card-2 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-2 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-2 button:hover{
    cursor:pointer;
}
.product-inner-card-3{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-3 h1{
    color:#062331;
    font-family:Oswald;
    font-size:20px;
    font-weight:400;
}
.product-inner-card-3 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-3 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-3 button:hover{
    cursor:pointer;
}
.product-inner-card-4{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-4 h1{
    color:#062331;
    font-family:Oswald;
    font-size:20px;
    font-weight:400;
}
.product-inner-card-4 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-4 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-4 button:hover{
    cursor:pointer;
}
.product-outer-container-2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-inner-card-5{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-5 h1{
    color:#062331;
    font-family:Oswald;
    font-size:20px;
    font-weight:400;
}
.product-inner-card-5 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-5 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-5 button:hover{
    cursor:pointer;
}
.product-inner-card-6{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-6 h1{
    color:#062331;
    font-family:Oswald;
    font-size:20px;
    font-weight:400;
}
.product-inner-card-6 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-6 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-6 button:hover{
    cursor:pointer;
}
.product-inner-card-7{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-7 h1{
    color:#062331;
    font-family:Oswald;
    font-size:18px;
    font-weight:400;
}
.product-inner-card-7 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-7 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-7 button:hover{
    cursor:pointer;
}
.product-inner-card-8{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    margin-left: 0px;
}
.product-inner-card-8 h1{
    color:#062331;
    font-family:Oswald;
    font-size:20px;
    font-weight:400;
}
.product-inner-card-8 p{
    color: #3F454A;
    font-family:Outfit;
    font-size:14px;
    font-weight: 300;
    line-height:20px;

}
.product-inner-card-8 button{
    border:none;
    background-color: #fff;
    color:#3CB54A;
    padding:10px 10px;
    
}
.product-inner-card-8 button:hover{
    cursor:pointer;
}